* {
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #042356, #1E51A8);
    height: 100vh; /* Asegura que el body tome toda la altura de la ventana */
}

header {
    background-image: url(imagenes/fondo\ del\ header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 30px;
    font-size: 15px;
    color: white;
    z-index: 100;
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

header .logo-h1 {
    display: flex;
    align-items: center;
}

header .title-nav {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.left {
    position: absolute;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    width: 250px;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100%);
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.left ul {
    flex: 1;
    background: #1c1c1c;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

.left a {
    text-decoration: none;
    display: block;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 500ms ease;
}

.left a:hover {
    border-left: 5px solid #c7c7c7;
    background: #1f1f1f;
}

.left.show {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

header img, h1, nav.up a, .clock {
    position: relative;
    z-index: 1;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

nav.up {
    margin-top: 10px;
}

nav.up a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.1s ease;
}
nav.up a:hover{
    color: #74C0FC;
}
nav.up a.active {
    color: #74C0FC; /* O el color que prefieras */
    font-weight: bold; /* Opcional: para hacer el enlace más visible */
}

main {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    flex: 1;
    background: linear-gradient(to bottom, #042356, #1E51A8);
    position: relative;
}

.paquetes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    flex: 1;
    padding: 20px;
}

.paquetes article {
    background-color: #e4e4e4;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 15px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    position: relative;
    transition: transform 0.3s ease;
}

.paquetes article h2 {
    color: #083072;
}

.paquetes article p {
    color: #1E51A8;
}

.paquetes article img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.paquetes article:hover {
    box-shadow: 0 0.5rem 0.9rem rgba(0, 0, 0, 0.9);
    transform: translateY(-50px);
}

footer {
    background-color: #042356;
    padding: 10px;
    text-align: center;
    color: white;
    padding: 10px 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 600px) {
    .paquetes {
        grid-template-columns: 1fr;
    }

    .paquetes article {
        margin-bottom: 10px;
    }
}

aside.pp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: linear-gradient(to right, #042356, #74C0FC);
}

aside .uno {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

aside .paginas {
    display: flex;
    justify-content: flex-end;
    flex: 0;
}

.ante {
    display: flex;
    justify-content: flex-start;
    flex: 0;
}

.equis {
    font-size: 15px;
    cursor: pointer;
    background: none;
    border: none;
    color: #fff;
    outline: none;
    position: absolute;
    top: 20px;
    right: 10px;
    display: none;
}

.left.show .equis {
    display: block;
}

.filtro {
    color: #c7c7c7;
}

details summary {
    list-style: none;
    cursor: pointer;
}

details ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-left: 20px;
}

details ul li {
    margin-bottom: 5px;
}

.derechos {
    display: inline-block;
    margin: 0;
    text-align: center;
}

.clock {
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid #ccc;
    border-radius: 5%;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#time {
    font-weight: bold;
    display: block;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

#fecha {
    margin-top: 2px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

.logo {
    float: left;
    margin: 0;
    width: 120px;
    height: 120px;
}

.icon {
    font-size: 25px;
    cursor: pointer;
    margin: 10px;
    border: none;
    background: none;
    color: #74C0FC;
    outline: none;
    display: flex;
    justify-content: center;
    height: 0;
}

.icon:hover {
    opacity: 0.7;
}

.Agencia {
    display: inline-block;
    margin: 0;
}

.vendedores {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.vendedores form {
    position: relative;
    max-width: 400px;
    background-color: transparent;/* Fondo semitransparente */
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(55px); /* Ajusta el valor de desenfoque según sea necesario */
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.inputbox {
    position: relative;
    margin: 30px 0;
    width: 100%;
    border-bottom: 2px solid #fff;
}

.inputbox input {
    width: 100%;
    height: 60px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 0 35px 0 5px;
    color: #fff;
}

.inputbox ion-icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2rem;
    top: 20px;
}

.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1rem;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
}

input:focus ~ label,
input:valid ~ label {
    top: -5px;
}


.form {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 1);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.4s ease;
}

.form:hover {
    background-color: rgba(255, 255, 255, 0.5);
}


.one {
    text-align: center;
    font-size: 2.rem;
    margin: 40px 0;
    color: #fff;
}

.one h2 {
    color: #fff;
}
.register {
    font-size: 0.9rem;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}
.register p a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.register p a:hover {
    text-decoration: underline;
}
.forget{
    margin: 35px 0;
    font-size: 0.85rem;
    color: #fff;
    display: flex;
    justify-content: space-between;
}
.forget label{
    display: flex;
    align-items: center;
    margin-right: 15px; /* Ajusta el margen derecho según necesites */
}
.forget label input {
    margin-right: 3px;
}
.forget a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.forget a:hover {
    text-decoration: underline;
}
.warnings{
    width: 200px;
    text-align: center;
    margin: auto;
    color: #74C0FC;
    padding-top: 20px;
}

/* ... Estilos existentes ... */

/* Estilos para el carrusel */
.carousel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
}

.carousel .slides {
    display: flex;
    width: 300%;
    animation: slide 15s infinite;
}

.carousel .slides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes slide {
    0% { transform: translateX(0%); }
    33% { transform: translateX(-33.33%); }
    66% { transform: translateX(-66.66%); }
    100% { transform: translateX(0%); }
}
 /* Ajuste del formulario para que esté sobre el carrusel */
.vendedores {
    position: relative;
    z-index: 1;
    background: none;
}

.vendedores form {
    background: rgba(0, 0, 0, 0.5);
}
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .clock, .user {
        position: static;
        margin: 10px 0;
    }

    .user {
        justify-content: center;
    }
}
.derechos{
    margin: 0;
    text-align: center;
    flex: 1;
}
.instagram {
    margin-right: 20px;
}


.insta i {
    font-size: 1.5rem;
    
}
.insta i:hover{
    color: #74C0FC;
    cursor:pointer;
    font-style: bold;
    
}
.insta a{
    text-decoration: none;
    color: inherit;
}
.github{
    font-size: 1.5rem;
}
.git{
    margin-right: 20px;
}
.github:hover{
    color: #74C0FC;
    cursor:pointer;
    font-style: bold;

}
.github a{
    text-decoration: none;
    color: inherit;
}